﻿<p><a [routerLink]="['/user-crud']">User CRUD</a></p>
<p><a [routerLink]="['/course-crud']">Course CRUD</a></p>
<p><a [routerLink]="['/event-crud']">Event CRUD</a></p>

<p><a (click)="generateGraphics()" class="text-info">Generate user age statistics</a></p>
<!--<img src="http://localhost:8080/user_age_stats" class="rounded" alt="Grokonez-About Image" width="250px" height="auto">-->

<img (click)="generateGraphics()" src=imageURI>

<p><a [routerLink]="['/login']" class="text-danger">Logout</a></p>
