<h2>View Courses</h2>

<div>
  <h3>All Available Courses:</h3>
  <ul>
    <li *ngFor="let course of courses">
      {{course.name}} ({{course.id}} {{course.description}})
      - <a (click)="enrollToCourse(course.id)" class="text-info">Enroll</a>
    </li>
  </ul>
</div>

<div>
  <h3>Your Courses:</h3>
  <ul>
    <li *ngFor="let course of userCourses">
      {{course.name}} ({{course.id}} {{course.description}})
      - <a (click)="disenrollFromCourse(course.id)" class="text-warning">Cancel Enrollment</a>
    </li>
  </ul>
</div>

<div class="form-group">
  <a [routerLink]="['/user-home']" class="btn btn-link">Back to User Menu</a>
</div>
