<h2>View Events</h2>

<div>
  <h3>All Available Events:</h3>
  <ul>
    <li *ngFor="let event of events">
      {{event.name}} ({{event.id}} {{event.description}})
      - <a (click)="attendEvent(event.id)" class="text-info">attend</a>
    </li>
  </ul>
</div>

<div>
  <h3>Your Events:</h3>
  <ul>
    <li *ngFor="let event of userEvents">
      {{event.name}} ({{event.id}} {{event.description}})
      - <a (click)="unattendEvent(event.id)" class="text-warning">cancel attendance</a>
    </li>
  </ul>
</div>

<div class="form-group">
  <a [routerLink]="['/user-home']" class="btn btn-link">Back to User Menu</a>
</div>
